{% extends "index.html" %}
{% load static %}
{% block content %}
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kicheko</title>
    <link rel="stylesheet" href="stylist.css">
    <script src="https://kit.fontawesome.com/89ae505745.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="nav-left">
            <p class="logo"> <strong >Eddie App</strong></p>
            <ul>
                
                

                
            </ul>
        </div>
       
        <div class="nav-right">

            <!-- <div class="search-box">
                <img src="{% static 'images/search.png'%}" >
                <input class="searchboxinput" type="text" placeholder="Search...">
            </div> -->
            <div class="navusericon  online ">
                <img src="{{user_profile.profileimg.url}}">
                <span><a href="{% url 'settings' %}">Settings</a> </span>
                <span><a href="logout/">LogOut</a> </span>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- left-sidebar -->
        <div class="left-sidebar">
            <div class="imp-links">
                <p><strong>Competency</strong></p>
            

            </div>
            <div class="shortcut-links">
                <i class="fa-brands fa-js"></i>
                <p>Javascript</p>
            </div>
            <div class="shortcut-links">
                <i class="fa-brands fa-html5"></i>
                <p>HTML</p>
            </div>
            <div class="shortcut-links">
                <i class="fa-brands fa-css3-alt"></i>
                <p>CSS</p>
            </div>
            <div class="shortcut-links">
                <i class="fa-solid fa-database"></i>
                <p>Mysql</p>
            </div>
            
        </div>
        <!-- main-cotent -->
        <div class="write-post-container">
            <!-- <div class="user-profile">
                <img src="{{user_profile.profileimg.url}}" >
                <div>
                    <p>{{user_profile.first_name}}</p>
                    
                    <small>Public <i class="fas fa-caret-down"></i></small>
                </div>
            </div> -->
            <!-- <div class="post-input-container">
                <textarea  rows="3" placeholder="Whats on your mind .."></textarea>
            </div> -->
            <div class="add-post-links">
                <a href="{% url 'post'%}"><img src="{% static 'images/photo.png'%}" > Upload Photos</a>
            </div>
            {% for post in userpost reversed %}
              
                <div>
                    <div class="post-container">
                        <div class="user-profile">
                            <img src="{{user_profile.profileimg.url}}" >
                            <div>
                                <p>{{post.user}}</p>
                                <small>Public <i class="fas fa-caret-down"></i></small>
                            </div>
                        </div> 
                        <div>
                        <img src="{{post.posts_image.url}}" class="post-img" >
                        <p class="post-text">{{post.caption}}</p>
                        </div>
                        <br>
                        <div class="post-row">
                            <div class="activity-icons">
                                <a href="/like?post_id={{post.id}}">
                                    <div>
                                        <img src="{% static 'images/like-blue.png'%}" >{{post.no_of_likes}}
                                    </div>
                                </a>

                                <a href="/comments?post_id={{post.id}}">{{post.post_no_comments}} comments 

                                    <div>
                                        <img src="{% static 'images/comments.png'%}" >
                                    </div>
                                </a>

                                <div>
                                    <a href="{{post.posts_image.url}}" download>
                                        <i class="fa-solid fa-cloud-arrow-down"></i>
                                        download
                                    </a>
                                </div>
                                
                            

                            </div>
                        
                        </div>
        
                    </div>
                </div>
            {% endfor %}
         
        </div>

        <!-- right-sidebar -->
        <div class="right-sidebar">
            

            <div class="event">
                
               
                
            </div>
            <div class="event">
                
               
                
            </div>
            <div class="sidebar-title">
                <h4>DjangoDeveloper</h4>
                
            </div>
            <img src="{%static 'images/advertisement.png'%}" class="sidebar-ads">
             <br>
             <hr>

        
        

            <div class="sidebar-title">
                <h4>Contact me </h4>
                
            </div>

            <div class="online-list">
                <div class="online">
                    <i class="fa-brands fa-github"></i>
                    <a href="https://github.com/EddieKenya?tab=repositories" target="_blank">Github</a>
                </div>
            </div>
            <div class="online-list">
                <div class="online">
                    <i class="fa-brands fa-linkedin"></i>
                    <a href="https://www.linkedin.com/in/edwin-makhanu-b15342190/" target="_blank">Linkedin</a>
                </div>
            </div>

            <div class="online-list">
                <div class="online">
                    <i class="fa-brands fa-twitter"></i>
                    <a href="https://twitter.com/eddiemakhanu" target="_blank">Twitter</a>
                </div>
            </div>
        
            <div class="online-list">
                <div class="online">
                    <i class="fa-brands fa-instagram"></i>
                    <a href="https://www.instagram.com/eddie_k.e" target="_blank">Instagram</a>
                </div>
                
            </div>
            <div class="online-list">
                <div class="online">
                    <i class="fa-brands fa-square-facebook"></i>
                    <a href="https://web.facebook.com/eddie.maxkhalifa/" target="_blank">Facebook</a>
                </div>
            </div>
          


        </div>
    </div>
<div class="footer">
    <p> Designed by Edwin Makhanu ,Django developer contact : <a href="mailto:edwinmakhanu630@gmail.com" target="_blank">edwinmakhanu630@gmail.com</a></p>
</div>
</body>
</html>

{% endblock content %}