{% extends "index.html" %}

{% block content %}

    <div class="signForm">
        <h1 class="signuphead">Sign In</h1>
        <div>
            <style>
                h4{
                    color: red;
                }
            </style>

            {% for message in messages %}
              <h4>{{message}}</h4>
            {% endfor %}
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="input-box" placeholder="Username...">
            <input type="password" name="password" id="input-box" placeholder="Password....">
            <br>
            <br>

            <p  class="welcome">Connect with <strong> Family</strong></p>
            <button type="submit" id="signupbtn">Signin</button>
            <hr>
            <p>Do you have an Account <a href="/signup/">SignUp</a></p>
            
            
            
        </form>
    </div>
    






  
{% endblock content %}