{% extends "index.html" %}
{% block content %} 

    <div class="signForm">
        <h1 class="signuphead">Sign Up Now</h1>
        <div>
            <style>
                h4{
                    color: red;
                }
            </style>

            {% for message in messages %}
              <h4>{{message}}</h4>
            {% endfor %}
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="input-box" placeholder="Username...">
            <input type="email" name="email" id="input-box" placeholder="Email...">
            <input type="password" name="password" id="input-box" placeholder="Password....">
            <input type="Password" name="password2" id="input-box" placeholder="Confirm password....">
            <br>
            <br>

            <div>
                <input type="checkbox" id="checkbox">
                <span>
                    I agree with the terms and conditions
                </span>

            </div>
            <p  class>Thank you for signing up. Welcome!</p>
            <button type="submit" id="signupbtn">SignUp</button>
            <hr>
            <p>You have an Account? <a href="/login/">Sign in</a></p>
            <a href="{% url 'login' %}">SIGNUP</a>
            
            
            
        </form>
    </div>

{% endblock content %}